# Target with labeled interrupts
arch = armv7em
priority_bits = 4

vector_table_offset = 0x08000000
data_block = ram
[interrupts]
SysTick = 15

[mem.flash]
base = 0x08000000
size = 256K

[mem.ram]
base = 0x20000000
size = 64K
